.logo--ligth {
  display: inline-block;
  align-items: center;

  width: 155px;
  height: 30px;

  margin: 8px 20px 8px 100px;
}

.logo--ligth-img {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .logo--ligth {
    margin: 0 21px 0 19px;
  }
}

@media screen and (max-width: 767px) {
  .logo--ligth {
    margin: 18px 0 18px 20px;
  }
}
