<nav class='nav'>
  <a class='nav__link' target="_blank" href='#'>Правила</a>
  <a class='nav__link' target="_blank" href='#'>Документы</a>
  <a class='nav__link' target="_blank" href='#'>Политика конфиденциальности</a>
</nav>
