<form class="search" method="get" target="_blank" action="https://www.google.com/search">
  <button class='search__btn'>
    <img class="search__img" src="/src/assets/images/search_loop.svg"/>
  </button>
  <input class='search__input' name='q' placeholder="Поиск">
  <span class='search__delimiter'></span>
</form>
