<div class='user'>
  <p class='user__name'>Александра</p>
  <a class='user__icon' href='/profile'>
    <img class='user__photo' src='/src/assets/images/user_photo.png' alt='Фото профиля'/>
  </a>
</div>
